<template>
    <vue-select :options="options" label="name" class="lms-input fs-14" v-model="model" :placeholder="placeholder">
        <template slot="no-options">
            ენები ვერ მოიძებნა
        </template>
        <template slot="option" slot-scope="option">
            <div class="flex-center-vertically">
                <span>{{ option.name }}</span>
            </div>
        </template>
        <template slot="selected-option" slot-scope="option">
            <div class="selected flex-center-vertically">
                <span>{{ option.name }}</span>
            </div>
        </template>
    </vue-select>
</template>

<script>
    import VueSelect from 'vue-select'

    export default {
        name: 'select-filter',
        props: ['options', 'name', 'placeholder'],
        data() {
            return {
                model: null
            }
        },
        watch: {
            model(newValue) {
                this.$emit('updated', newValue.id, this.name)
            }
        },
        components: {
            VueSelect
        }
    }
</script>