<template>
    <input v-model.lazy="model" :name="name" type="text" class="lms-input fs-14" :placeholder="placeholder"
           v-debounce="600"/>
</template>

<script>
    import debounce from 'v-debounce';

    export default {
        props: ['name', 'placeholder', 'value'],
        data() {
            return {
                model: ''
            }
        },
        mounted() {
          if (this.value) {
              this.model = this.value
          }
        },
        watch: {
            model(newValue) {
                this.$emit('updated', newValue, this.name)
            }
        },
        directives: {
            debounce
        },
    }
</script>

<style scoped>

</style>