html, body {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: $bgp-arial;
  color: $text-primary;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: $content-gray;
  font-size: 1.6rem;
  line-height: 1.5;
}

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  list-style: none;
  outline: none;
}

a{
  text-decoration: none;
}

a:link, a:visited, a:hover, a:active{
  color: #1f1f1f;
}

h1{
  font-weight: normal;
}

ul {
  margin: 0;
  padding: 0;
}

#app {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

.default-layout {
  position: relative;
  width: 100%;
  height: 100%;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;
  padding: 122px $side-nav-width 0 $side-nav-width;
}

.transform-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// --- containers --- //
.flex-center-vertically {
  display: flex;
  align-items: center;
}

.flex-center-horizontally {
  display: flex;
  justify-content: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-justify {
  display: flex;
  justify-content: space-between;
}

// --- btn --- //
.btn {
  cursor: pointer;
  white-space: nowrap;
  border-radius: 4px;
  transition: all 0.15s ease;
}

// --- text colors --- //
.text-muted {
}

.text-primary {
  color: $text-primary;
}

.text-primary-light {
  color: $text-primary-light;
}

.text-white{
  color: #fff;
}

.text-success {
}

.text-info {
}

.text-warning {
}

.text-danger {
  color: red;
}

// --- background colors --- //
.bg-muted {
}

.bg-primary {
  background-color: $primary;
}

.bg-primary-light {
  background-color: $primary-light;
}

.bg-accent {
  background-color: $accent;
}

.bg-red{
  background-color: #dd4b39;
}

.bg-white{
  background-color: white;
}

.bg-success {
}

.bg-info {
}

.bg-warning {
}

.bg-danger {
}

// --- fonts --- //
.f-gotham-medium {
  font-family: 'GothamMedium', sans-serif;
}

.f-gotham-light {
  font-family: 'GothamThin', sans-serif;
}

.f-gotham-bold {
  font-family: 'gotham-bold', sans-serif;
}

.f-gotham-regular {
  font-family: 'gotham', sans-serif;
}

.f-nino-mtavruli {
  font-family: $nino-mtavruli;
}

.f-bgp-arial {
  font-family: $bgp-arial;
}


.fs-10{
  font-size: 10px;
}

.fs-12{
  font-size: 12px;
}

.fs-14{
  font-size: 14px;
}

.fs-16{
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20{
  font-size: 20px;
}

.fs-22{
  font-size: 22px;
}

.fs-24{
  font-size: 24px;
}

.fs-26{
  font-size: 26px;
}

.fs-30{
  font-size: 30px;
}

.fs-34{
  font-size: 34px;
}

.fs-36{
  font-size: 36px;
}

.fs-46{
  font-size: 46px;
}

.fs-50{
  font-size: 50px;
}

.fs-100{
  font-size: 100px;
}

.white-card{
  border: 1px solid #e3e3e3;
  background-color: white;
}

.no-resources {
  text-align: center;
  text-transform: uppercase;
  color: #ccc;
  font-weight: bold;
  margin: 50px;
}