.main-header {
  z-index: 100;
  width: 100%;
  position: fixed;
  height: $nav-height;
  padding: 0 $container-padding;
  background-color: white;
  box-shadow: 0 0 25px -10px #000;
  top: 0;

  .left {
    height: 100%;
    position: relative;
  }
}

.main-header-nav {
  justify-content: space-between;
  height: 100%;
}

.main-header-logo {
  height: 100%;
}

.main-header-logo-wrapper{
  height: 70%;
  position: relative;
  padding-right: 45px;
  margin-right: 35px;
  border-right: 1px solid #e1e1e1;
}

.main-header-menu {
  height: 100%;
  display: flex;

  .main-header-menu-item {
    height: 100%;
    padding: 5px 5px 0 10px;
    position: relative;

    &:last-child {
      padding-right: 0;
    }
  }
}

.filters-icon {
  margin-left: 12px;
  width: 30px;
  fill: #ddd;
  transition: all 0.15s ease;
  margin-top: 15px;

  &:hover {
    fill: #c1c1c1;
  }
}

.dropdown {
  &-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: -10px;
    min-width: 120px;
    max-width: 250px;
    box-shadow: 0 8px 18px -5px #737373;
    padding: 0 5px 5px 5px;
  }

  &.open {
    .dropdown-menu {
      display: block;
    }
  }

  .dropdown-list-item {
    padding: 4px 15px;
    margin: 5px;
    border-radius: 3px;

    &:hover {
      background: #e1e1e1;
    }
  }
}

.user-dropdown {
  .dropdown-list-item {
    &:hover {
      background: #e1e1e1;
    }
  }
}

.notifications-dropdown {
  .dropdown-menu {
    width: 250px;
  }

  .dropdown-list-item {
    p {
      white-space: normal;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .dropdown-list-item {
    &.unread {
      background: #eeeeee;
    }
  }
}

.unread-notification-count {
  border-radius: 50%;
  background-color: red;
  color:  white;
  font-size: 11px;
  font-weight:  bold;
  width: 15px;
  height: 15px;
  text-align:  center;
  position:  absolute;
  right: 8px;
  top: 35%;
}