.side-nav {
  position: fixed;
  width: 280px;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  padding: $nav-height $container-padding;
  z-index: 5;
}

.side-categories {
  right: 0;
}

.side-categories-color-bullet {
  width: 12px;
  height: 12px;
  border-radius: 3px;
  background-color:  purple;
  margin-right: 15px;
}

.side-nav-title {
  display: block;
  margin: 30px 0 1rem;

  &:first-child {
    margin-top: 50px;
  }
}

.side-nav-menu {
  padding: 0 0 25px;
  border-bottom: 1px solid #e1e1e1;

  &:last-child {
    border: none;
  }
}

.side-nav-menu-item {
  padding: 5px;
  border-radius: 4px;
  margin-top: 5px;

  &:hover {
    background: #e1e1e1;
  }
}

.side-nav-menu-item > a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.side-nav-menu-item-icon {
  max-width: 18px;
  max-height: 18px;
  margin-right: 15px;
}