<template>
    <books-section :resources="userFavorites" section-title="My Favourite Books"></books-section>
</template>

<script>
    import BooksSlider from '../BooksSlider';
    import {mapGetters, mapActions} from 'vuex';
    import BooksSection from "../BooksSection";

    export default {
        mounted() {
            this.getClientFavorites();
        },

        computed: mapGetters({
            userFavorites: 'User/userFavorites',
        }),

        methods: {
            ...mapActions({
                getClientFavorites: 'User/getClientFavorites',
            }),
        },
        components: {
            BooksSection,
            BooksSlider
        }
    }
</script>