<template>
    <books-section :resources="withdrawnBooksArray"
                   :see-more="{action: seeMoreAction}"
                   section-title="My Readings">
    </books-section>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex';
    import BooksSection from "../BooksSection";

    export default {
        mounted() {
            let filters = {
                limit: 5,
                offset: 0,
                current: true
            };
            this.getClientWithdrawnBooks(filters);
        },

        computed: {
            ...mapGetters({
                withdrawnBooks: 'User/withdrawnBooks',
            }),

            withdrawnBooksArray() {
                return this.withdrawnBooks.map(item => {
                    let resource = item.resourceCopy.resource;
                    resource['critical'] = item.critical;
                    resource['scheduledReturnTime'] = item.scheduledReturnTime;
                    return resource;
                })
            }
        },

        methods: {
            ...mapActions({
                getClientWithdrawnBooks: 'User/getClientWithdrawnBooks',
            }),

            seeMoreAction() {
                this.$router.push({name: 'my-readings'})
            }
        },

        components: {BooksSection}
    }
</script>