<template>
    <vue-select :options="schools" label="name" class="lms-input fs-14" v-model="model">
        <template slot="no-options">
            სკოლები ვერ მოიძებნა
        </template>
        <template slot="option" slot-scope="option">
            <div class="flex-center-vertically">
                <span>{{ option.name }}</span>
            </div>
        </template>
        <template slot="selected-option" slot-scope="option">
            <div class="selected flex-center-vertically">
                <span>{{ option.name }}</span>
            </div>
        </template>
    </vue-select>
</template>

<script>
    import VueSelect from 'vue-select'
    import {mapGetters, mapActions} from 'vuex';

    export default {
        name: 'school-select',
        props: ['value'],

        data() {
            return {
                model: null
            }
        },

        mounted() {
            this.getSchools().then(() => {
                this.model = this.value;
            });
        },

        computed: {
            ...mapGetters({
                schools: 'User/schools',
            }),
        },

        methods: {
            ...mapActions({
                getSchools: 'User/getSchools',
            }),
        },

        watch: {
            model(newValue) {
                this.$emit('updated', newValue);
            }
        },

        components: {
            VueSelect
        }
    }
</script>