.book-actions {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.black-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 0.2s ease;
  //opacity: 0;
}

.book-actions:hover .black-overlay{
  background: linear-gradient(rgba(0,0,0, 0), rgba(0,0,0, .9));
  //opacity: .7;
}

.favourite-book-container > img,
.unavailable-book-container > img,
.download-book-container > img {
  max-width: 20px;
  max-height: 20px;
  width: 25px;
}

.favourite-book-container, .download-book-container, .unavailable-book-container {
  margin-left: 15px;
  visibility: hidden;
  z-index: 15;
  margin-bottom: 10px;
}

.book-actions:hover .download-book-container,
.book-actions:hover .unavailable-book-container,
.book-actions:hover .favourite-book-container {
  visibility:  visible;
}

.book-author:hover {
  text-decoration: underline;
}

.unavailable-book-container {
  margin-bottom: 8px;
}