.search-input {
  position: relative;

  img {
    position: absolute;
    left: 15px;
    bottom: 10px;
    transition: all 0.5s ease;
    width: 15px;
  }
}

.lms-input {
  &[type=text] {
    padding: 8px 15px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #e3e3e3;
  }

  &.v-select .dropdown-toggle, &.v-select .dropdown-toggle {
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #e3e3e3;
  }
}

.search-filters {
  .lms-input {
    margin: 15px 15px 15px 0;

    &[type=text] {
      margin-right: 15px;
      padding: 12px 18px;
      font-size: 14px;
    }

    &.v-select {
      min-width: 200px;

      .selected-tag {
        margin: 3px 1px 3px 6px;
      }

      input[type=search], input[type=search]:focus {
        width: 60px !important;
      }

      .dropdown-toggle, &.v-select .dropdown-toggle {
        font-size: 14px;
        min-height: 43px;
        display: flex;
        flex-wrap: wrap;
        padding: 4px 0 0;
      }

      .open-indicator {
        &:before {
          border-width: 2px 2px 0 0;
          height: 7px;
          width: 7px;
        }
      }
    }
  }
}

.header-search-input {
  border: 1px solid #e3e3e3;
  border-radius: 50px;
  width: 250px;
  transition: width 0.5s ease, border-radius 0.15s ease;

  &.active, &:focus {
    width: 400px;

    & + img {
      left: calc(100% - 15px);
      transform: translateX(-100%);
    }
  }

  &.active-dropdown {
    border-radius: 7px 7px 0 0;
  }
}

.search-dropdown {
  position: absolute;
  background-color: white;
  width: 100%;
  padding: 15px;
  border: 1px solid #e3e3e3;
  border-top: none;
  border-radius: 0 0 7px 7px;
}

.search-dropdown-list-item {
  p {
    margin: 0 15px 0 0;
    transition: all 0.2s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:hover p {
    color: $text-primary;
  }

  &:not(:last-child) {
    padding-bottom: 10px;
    border-bottom: 1px solid #e3e3e3;
    border-radius: 0;
  }

  &:not(:first-child) {
    padding-top: 10px;
  }
}

//select
.selected-tag {
  display: flex;
}

.v-select .selected-tag .close {
  margin-left: 10px;
  margin-bottom: 2px;
}