<template>
    <div class="sign-in-container container container-table flex-center-vertically flex-center-horizontally">
        <!-- login Button -->
        <div class="sign-in-inner bg-white">
            <img class="free-agruni-logo" src="../../static/icons/free_agru.jpg">
            <p class="text-primary">Library Management System</p>
            <div id="signin-button" class="sign-in-button text-white bg-red" @click="signIn">
                <i class="fa fa-google-plus-official fa-3x"></i>
                Sign in with Google
            </div>
        </div>

    </div>
</template>

<script>
    import Vue from 'vue'
    import {mapActions} from 'vuex'

    export default {
        name: "Auth",

        data(router) {
            return {
                section: 'Login',
                loading: '',
                response: ''
            }
        },
        methods: {
            ...mapActions({
                login: 'Auth/login',
                setUserData: 'User/setClient',
                getNotifications: 'Notifications/getNotifications',
            }),

            signIn() {
                Vue.googleAuth().directAccess();
                Vue.googleAuth().signIn(this.onSignInSuccess, this.onSignInError)
            },

            onSignInSuccess(authorizationCode) {
                this.login(authorizationCode.Zi.id_token).then(user => {
                    this.setUserData(user);
                    this.getNotifications();
                    this.$router.push({name: 'home'});
                }).catch(err => {
                    console.log('auth error', err)
                });
            },

            onSignInError(error) {
                console.log('GOOGLE SERVER - SIGN-IN ERROR', error)
            },
        }
    }
</script>