<template>
    <div class="book-page" v-if="resource !== undefined">
        <div class="book-notification" v-if="resource.notification !== null && resource.notification !== undefined">
            <p class="alert-danger">{{resource.notification.message}}.</p>
            <!--<p class="alert-danger"> Scheduled return date {{formatDate(resource.scheduledReturnTime)}}</p>-->
        </div>
        <div class="book-page-top">
            <div class="book-cover-image">
                <div class="book-cover" :style="{'background-image':  'url(' + resource.imageUrl + ')', backgroundColor: resource.category.color}">
                    <div v-if="resource.imageUrl === null" class="book-title-and-author">
                        <p class="book-title text-primary fs-22">{{resource.name}}</p>
                        <span class="book-author text-primary-light fs-16">By {{resource.author}}</span>
                    </div>
                </div>
                <a class="download-book" v-if="resource.resourceUrl !== null" :download="resource.name"
                   :href="resource.resourceUrl" target="_blank">
                    <img class="side-nav-menu-item-icon"  src="../../static/icons/download.svg"/>
                    <span class="f-bgp-arial fs-14 text-primary">download</span>
                </a>
            </div>
            <div class="book-info-container">
                <h1 class="fs-18 f-gotham-medium fc-black">{{resource.name}} <span class="fs-14 f-nino-mtavruli text-primary-light">{{resource.subName}}</span></h1>
                <p class="fs-14 f-gotham-light fc-black">by {{resource.author}}</p>
                <div class="book-info">
                    <p class="f-nino-mtavruli fs-14 text-primary-light">Category: <span class="f-nino-mtavruli text-primary">{{resource.category.name}}</span></p>
                    <p class="f-nino-mtavruli fs-14 text-primary-light">Publisher: <span class="f-nino-mtavruli text-primary">{{resource.publisher}}</span></p>
                    <p class="f-nino-mtavruli fs-14 text-primary-light">Language: <span class="f-nino-mtavruli text-primary">{{resource.language.name}}</span></p>
                    <p class="f-nino-mtavruli fs-14 text-primary-light">Material type: <span class="f-nino-mtavruli text-primary">{{resource.materialType.name}}</span></p>
                    <p class="f-nino-mtavruli fs-14 text-primary-light">Resource type: <span class="f-nino-mtavruli text-primary">{{resource.resourceType}}</span></p>
                    <p class="f-nino-mtavruli fs-14 text-primary-light">Left: <span class="f-nino-mtavruli text-primary">{{resource.quantity - resource.rentedQuantity}}</span></p>
                    <p class="f-nino-mtavruli fs-14 text-primary-light">Addition year: <span class="f-nino-mtavruli text-primary">{{resource.editionYear}}</span></p>
                    <p class="f-nino-mtavruli fs-14 text-primary-light">Addition: <span class="f-nino-mtavruli text-primary">{{resource.edition}}</span></p>
                    <p class="f-nino-mtavruli fs-14 text-primary-light">ISBN: <span class="f-nino-mtavruli text-primary">{{resource.isbn}}</span></p>
                </div>
            </div>
        </div>

        <div class="book-page-bottom">
            <same-category-resources v-if="resource.category" :category="resource.category"></same-category-resources>
            <same-author-resources  v-if="resource.author" :author="resource.author"></same-author-resources>
        </div>
    </div>
    
</template>

<script>

    import {mapGetters, mapActions} from 'vuex';
    import SameCategoryResources from "../partials/resourcePreviewSections/SameCategoryResources";
    import SameAuthorResources from "../partials/resourcePreviewSections/SameAuthorResources";

    export default {
        name: "book",

        computed: mapGetters({
            resource: 'Resources/resource',
        }),

        mounted() {
            let bookId = this.$route.params.id;
            this.getResource(bookId);
        },

        watch: {
            '$route.params.id'(id){
                this.getResource(id)
            }
        },
        
        methods:{
            ...mapActions({
                getResource: 'Resources/getResource',
            }),
        },

        components: {
            SameAuthorResources,
            SameCategoryResources
        }

    }
</script>
