<template>
    <div>
        <books-section :resources="resources"
                       :section-title="$route.params.name"
                       :paging="paging"
                       @page-updated="getResources">
        </books-section>
    </div>
</template>

<script>
    import {mapActions} from 'vuex';
    import BooksSection from "../partials/BooksSection";

    export default {
        name: "Category",
        data() {
            return {
                resources: [],
                categoryId: null,
                paging: {
                    limit: 10,
                    count: 0,
                    page: 0
                }
            }
        },

        mounted() {
            this.categoryId = this.$route.params.id;
            this.getResources()
        },

        watch: {
            '$route.params.id'(categoryId) {
                this.categoryId = categoryId;
                this.getResources(0)
            }
        },

        methods: {
            ...mapActions({
                getFilteredResources: 'Resources/getFilteredResources',
            }),

            getResources(offset) {
                let filters = {
                    categoryIds: [this.categoryId],
                    limit: this.paging.limit,
                    offset: offset
                };
                this.getFilteredResources(filters).then(resources => {
                    this.resources = resources.resultList;
                    this.$set(this.paging, 'page', resources.page);
                    this.$set(this.paging, 'count', resources.count);
                    this.$set(this.paging, 'limit', resources.limit)
                });
            },
        },

        components: {BooksSection}
    }
</script>

<style scoped>

</style>