<template>
    <books-section :resources="userFavorites" section-title="My Favourite Books"></books-section>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex';
    import BooksSection from "../partials/BooksSection";

    export default {
        mounted() {
            this.getClientFavorites(1);
        },
        computed: mapGetters({
            userFavorites: 'User/userFavorites',
        }),
        methods: {
            ...mapActions({
                getClientFavorites: 'User/getClientFavorites',
            }),
        },

        components: {
            BooksSection
        }
    }
</script>

<style scoped>

</style>