<template>
    <books-section :resources="historyBooksArray"
                   section-title="History"
                   :paging="paging"
                   @page-updated="getResources">
    </books-section>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex';
    import BooksSection from "../partials/BooksSection";

    export default {
        name: "History",
        data() {
            return {
                paging: {
                    limit: 5,
                    count: 0,
                    page: 0
                }
            }
        },
        mounted() {
            this.getResources();
        },
        computed: {
            ...mapGetters({
                history: 'User/history',
            }),

            historyBooksArray() {
                return this.history.map(item => {
                    let resource = item.resourceCopy.resource;
                    resource['critical'] = item.critical;
                    resource['scheduledReturnTime'] = item.scheduledReturnTime;
                    return resource;
                })
            }
        },
        methods: {
            ...mapActions({
                getClientHistory: 'User/getClientHistory',
            }),

            getResources(offset=null) {
                this.getClientHistory(this.getFilters(offset)).then(resources => {
                    this.$set(this.paging, 'page', resources.page);
                    this.$set(this.paging, 'count', resources.count);
                    this.$set(this.paging, 'limit', resources.limit)
                });
            },

            getFilters(offset = null) {
                return {
                    limit: this.paging.limit,
                    offset: offset ? offset : 0,
                    current: false
                };
            }
        },
        components: {BooksSection}
    }
</script>