<template>
    <books-section :resources="withdrawnBooksArray"
                   section-title="My Readings"
                   :paging="paging"
                   @page-updated="getResources">
    </books-section>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex';
    import BooksSection from "../partials/BooksSection";

    export default {
        data() {
            return {
                paging: {
                    limit: 10,
                    count: 0,
                    page: 0
                }
            }
        },
        mounted() {
            this.getResources();
        },
        computed: {
            ...mapGetters({
                withdrawnBooks: 'User/withdrawnBooks',
            }),

            withdrawnBooksArray() {
                return this.withdrawnBooks.map(item => {
                    let resource = item.resourceCopy.resource;
                    resource['critical'] = item.critical;
                    resource['scheduledReturnTime'] = item.scheduledReturnTime;
                    return resource;
                })
            }
        },
        methods: {
            ...mapActions({
                getClientWithdrawnBooks: 'User/getClientWithdrawnBooks',
            }),

            getResources(offset=null) {
                this.getClientWithdrawnBooks(this.getFilters(offset)).then(resources => {
                    this.$set(this.paging, 'page', resources.page);
                    this.$set(this.paging, 'count', resources.count);
                    this.$set(this.paging, 'limit', resources.limit)
                });
            },

            getFilters(offset = null) {
                return {
                    limit: this.paging.limit,
                    offset: offset ? offset : 0,
                    current: true
                };
            }
        },
        components: {BooksSection}
    }
</script>