<template>

    <div class="profile-container grid-16">

        <div class="profile-left white-card" v-if="formData !== undefined || formData !== null">
            <form v-if="!formSubmitted" @submit.prevent="validateBeforeSubmit">
                <div class="user-info-top">
                    <div class="user-initials">
                        <span v-if="formData.imageUrl === null" class="fc-grey fs-24 uppercase">{{formData.firstName.charAt(0) + formData.lastName.charAt(0)}}</span>
                        <img v-else :src="formData.imageUrl"/>
                    </div>

                    <div class="user-private-info">
                        <p v-if="!editMode" class="text-primary fs-18 uppercase">{{formData.firstName + " " + formData.lastName}}</p>

                        <div v-if="editMode" class="validate-field-container edit-private-info name">
                            <input v-validate="'required|min:2'" v-model="formData.firstName"
                                   :class="{'is-danger': errors.has('name')}"
                                   class="fc-dark-grey fs-14 border-grey"
                                   type="text" title="name" name="name" placeholder="სახელი">
                        </div>

                        <div v-if="editMode" class="validate-field-container edit-private-info surname">
                            <input v-validate="'required|min:2'" v-model="formData.lastName"
                                   :class="{'is-danger': errors.has('surname')}"
                                   class="fc-dark-grey fs-14 border-grey"
                                   type="text" title="surname" name="surname" placeholder="გვარი">
                        </div>
                        <p class="fs-14 text-primary">{{formData.email}}</p>

                    </div>
                </div>
                <div class="user-info-middle">

                    <div class="private-info-container width-50">
                        <p class="fs-14 text-primary-light uppercase">School</p>
                        <p v-if="!editMode && formData.school" class="fs-14 uppercase text-primary">
                            {{formData.school.name}}, {{formData.school.university}}
                        </p>
                        <school-select @updated="schoolUpdated" v-if="editMode" :value="formData.school"></school-select>
                    </div>

                    <div class="private-info-container width-50">
                        <p class="fs-14 text-primary-light uppercase">Phone number</p>
                        <p v-if="!editMode" class="fs-14 uppercase text-primary">{{formData.phone}}</p>

                        <div v-if="editMode" class="validate-field-container edit-private-info">
                            <input v-validate="'required|numeric'" v-model="formData.phone"
                                   :class="{'is-danger': errors.has('phone')}"
                                   class="fc-dark-grey fs-14 border-grey"
                                   type="text" title="phone" name="phone">
                        </div>
                    </div>
                    <button v-if="!editMode" @click="editModeSwitch()" class="edit-profile-info btn">Edit</button>
                    <button v-if="editMode" @click="editModeSwitch()" class="edit-profile-info btn">Save</button>
                </div>
            </form>
        </div>

        <div class="profile-right white-card">
            <h1 class="fs-22">Cards</h1>
            <p v-if="userData.cards === null || userData.cards.length < 0">No current cards</p>
            <div v-if="userData.cards !== null && userData.cards.length >= 0" class="cards-container">
                <div class="card-wrapper" v-for="(card, index) in userData.cards">
                    <p>{{card.name}}</p>
                    <button @click="deactivateClientCard({id: card.id, i: index})" class="active-button btn"
                            title="Deactivate card" v-if="card.active">active</button>
                    <button @click="activateClientCard({id: card.id, i: index})" class="not-active-button btn"
                            title="Activate card" v-if="!card.active">not active</button>
                </div>
            </div>
        </div>

        <div class="profile-bottom">
            <my-withdrawn-books></my-withdrawn-books>
        </div>
    </div>
    
</template>

<script>
    import {mapGetters, mapActions} from 'vuex';
    import VeeValidate from 'vee-validate';
    import Vue from "vue";
    import MyWithdrawnBooks from '../partials/home/MyWithdrawnBooks';
    import SchoolSelect from "../partials/school/SchoolDropdown";


    Vue.use(VeeValidate);

    //
    VeeValidate.Validator.extend('passphrase', {
        getMessage: field => 'Sorry dude, wrong pass phrase.',
        validate: value => value.toUpperCase() == 'Demogorgon'.toUpperCase()
    });

    export default {

        data() {
            return {
                email: '',
                name: '',
                surname: '',
                phone: '',
                personal_id: '',
                password: '',
                old_password: '',
                password_confirmation: '',
                formSubmitted: false,
                editMode: false,
                formData: {},
                activePopup: false,
                fullHeight: document.documentElement.clientHeight - 100,
                updatedSchool: [],
            }
        },

        mounted() {
            this.formData = Object.assign({}, this.userData);
        },

        watch: {
            userData: function() {
                this.formData = Object.assign({}, this.userData);
            }
        },

        computed: {
            ...mapGetters({
                userData: 'User/user',
            }),
        },

        methods: {
            ...mapActions({
                updateUserProfile: 'User/updateUserProfile',
                activateClientCard: 'User/activateClientCard',
                deactivateClientCard: 'User/deactivateClientCard',
            }),

            formatDate: function(date) {
                let months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
                let formattedDate = new Date(date);
                return formattedDate.getDate() + ' ' + months[formattedDate.getMonth()] + ', ' + formattedDate.getFullYear();
            },

            schoolUpdated(newSchool){
                this.formData.school = newSchool;
            },

            validateBeforeSubmit(e) {
                this.$validator.validateAll();
                if (!this.errors.any()) {
                    // this.submitForm()
                }
            },

            saveEditedInfo(){
                let userUpdatedInfo = {
                    "clientId": this.formData.id,
                    "firstName": this.formData.firstName,
                    "lastName": this.formData.lastName,
                    "phone": this.formData.phone,
                    "schoolId": this.formData.school.id
                };
                this.updateUserProfile(userUpdatedInfo);
            },

            editModeSwitch() {
                if (this.editMode){
                    this.saveEditedInfo();
                }
                this.editMode = !this.editMode;
            },
        },

        components: {
            SchoolSelect,
            MyWithdrawnBooks,
        }
    }
</script>
