<template>
    <div class="search-page">
        <search-filters @filter-updated="filterUpdated"></search-filters>
        <books-section :resources="searchResults"
                       :paging="paging"
                       @page-updated="pageUpdated">
        </books-section>
    </div>
</template>

<script>
    import SearchFilters from "../partials/search/SearchFilters";
    import {mapActions, mapGetters} from 'vuex';
    import BooksSection from "../partials/BooksSection";

    export default {
        data() {
            return {
                searchResults: [],
                paging: {
                    limit: 10,
                    count: 0,
                    page: 0
                }
            }
        },
        mounted() {
            this.getQuickResources()
        },
        computed: mapGetters({
            detailedMessage: 'Resources/detailedMessage',
        }),
        methods: {
            ...mapActions({
                quickFindResources: 'Resources/quickFindResources',
                getFilteredResources: 'Resources/getFilteredResources',
                clearFilters: 'Resources/clearFilters',
                setFilterValue: 'Resources/setFilterValue',
            }),

            getQuickResources() {
                this.quickFindResources(this.detailedMessage).then(resources => {
                    this.searchResults = resources.resultList;
                    this.setPagingData(resources)
                });
            },

            getResources() {
                this.getFilteredResources().then(resources => {
                    this.searchResults = resources.resultList;
                    this.setPagingData(resources)
                });
            },

            setPagingData(pagingData) {
                this.$set(this.paging, 'page', pagingData.page);
                this.$set(this.paging, 'count', pagingData.count);
                this.$set(this.paging, 'limit', pagingData.limit)
            },

            filterUpdated() {
                this.setPagingData({limit: 10, count: 0, page: 0});
                this.getResources()
            },

            pageUpdated(offset) {
                this.setFilterValue({name: 'offset', value: offset});
                this.getResources()
            }
        },
        destroyed() {
            this.clearFilters()
        },
        components: {BooksSection, SearchFilters}
    }
</script>
