<template>
    <div class="container container-table">
        <!-- login Button -->
        <a id="signin-button" @click="signIn">
            <i class="fa fa-google-plus-official fa-3x"></i>
            Sign in with Google
        </a>
    </div>
</template>

<script>
    import Vue from 'vue'
    import {mapActions} from 'vuex'

    export default {
        name: "TestAuth",

        data(router) {
            return {
                section: 'Login',
            }
        },
        methods: {
            ...mapActions({
                login: 'User/login',
            }),
            signIn() {
                Vue.googleAuth().directAccess();
                Vue.googleAuth().signIn(this.onSignInSuccess, this.onSignInError)
            },
            onSignInSuccess(authorizationCode) {
                // this.login(authorizationCode);
                // this.$router.push({name: 'home'});
                console.log('SUCCESS', authorizationCode)
            },
            onSignInError(error) {
                console.log('GOOGLE SERVER - SIGN-IN ERROR', error)
            },
        }
    }
</script>