<template>
    <div class="main-header">
        <nav class="main-header-nav flex-center-vertically">
            <div class="left flex-center-vertically">
                <router-link tag="a" :to="{name: 'home'}" class="main-header-logo-wrapper">
                    <img class="main-header-logo" src="../../static/icons/free_agru.jpg" alt="თავისუფალი უნივერსიტეტი">
                </router-link>

                <div class="divider vertical"></div>
                <search-input></search-input>
            </div>
            <ul class="main-header-menu">
                <notifications></notifications>
                <user-dropdown></user-dropdown>
            </ul>
        </nav>
    </div>
</template>

<script>
    import SearchInput from "../partials/lmsHeader/SearchInput";
    import UserDropdown from "../partials/lmsHeader/UserDropdown";
    import Notifications from "../partials/lmsHeader/Notifications";

    export default {
        name: "lms-header",

        components: {
            Notifications,
            UserDropdown,
            SearchInput
        }
    }
</script>

<style scoped>

</style>