<template>
    <nav class="side-nav" role="navigation">
        <span class="side-nav-title text-primary-light f-nino-mtavruli">Navigation</span>
        <ul class="side-nav-menu">
            <li class="side-nav-menu-item flex-center-vertically btn">
                <router-link tag="a" :to="{name: 'home'}" >
                    <img class="side-nav-menu-item-icon" src="../../static/icons/home.svg"/>
                    <span>Main</span>
                </router-link>
            </li>
            <li v-for="specialCategory in specialCategories" class="side-nav-menu-item flex-center-vertically btn">
                <router-link tag="a" :to="{name: 'category', params: {name: specialCategory.name, id : specialCategory.id}}" >
                    <img class="side-nav-menu-item-icon" src="../../static/icons/sylabus2.svg"/>
                    <span>{{specialCategory.name}}</span>
                </router-link>
            </li>
        </ul>
        <div class="divider horizontal"></div>
        <span class="side-nav-title text-primary-light f-nino-mtavruli">My Books</span>
        <ul class="side-nav-menu">
            <li class="side-nav-menu-item flex-center-vertically btn">
                <router-link tag="a" :to="{name: 'my-readings'}" >
                    <img class="side-nav-menu-item-icon" src="../../static/icons/withdrawn-books.svg"/>
                    <span>My Readings</span>
                </router-link>
            </li>
            <li class="side-nav-menu-item flex-center-vertically btn">
                <router-link tag="a" :to="{name: 'favorites'}" >
                    <img class="side-nav-menu-item-icon" src="../../static/icons/star.svg"/>
                    <span>My Favorites</span>
                </router-link>
            </li>
            <li class="side-nav-menu-item flex-center-vertically btn">
                <router-link tag="a" :to="{name: 'history'}" >
                    <img class="side-nav-menu-item-icon" src="../../static/icons/history.svg"/>
                    <span>History</span>
                </router-link>
            </li>
        </ul>
    </nav>
</template>

<script>

    import {mapGetters, mapActions} from 'vuex';

    export default {
        name: "sideNav",

        computed: mapGetters({
            specialCategories: 'Categories/specialCategories',
        }),

        mounted() {
            this.getSpecialCategories();
        },

        methods: mapActions({
            getSpecialCategories: 'Categories/getSpecialCategories',
        }),
    }
</script>