<template>
    <div class="side-nav side-categories">
        <span class="side-nav-title text-primary-light f-nino-mtavruli">Categories</span>
        <ul class="side-nav-menu">
            <router-link :to="{name:'category', params:{'name':category.name, 'id': category.id}}"
                         tag="li" :key="category.id" v-for="category in categories"
                         class="side-nav-menu-item flex-center-vertically btn">
                <span class="side-categories-color-bullet" :style="{'background-color': category.color}"></span>
                <span>{{category.name}}</span>
            </router-link>
        </ul>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex';

    export default {
        mounted() {
            this.getCategories();
        },
        computed: mapGetters({
            categories: 'Categories/categories',
        }),
        methods: mapActions({
            getCategories: 'Categories/getCategories',
        }),
    }
</script>