<template>
    <div class="default-layout">
        <lms-header></lms-header>
        <side-nav></side-nav>
        <main>
            <router-view class="container content"></router-view>
        </main>
        <side-categories></side-categories>
    </div>
</template>

<script>
    import LmsHeader from '../layout/LmsHeader';
    import SideNav from '../layout/SideNav';
    import SideCategories from '../layout/SideCategories';

    export default {
        name: 'default-layout',
        components: {
            SideCategories,
            LmsHeader,
            SideNav
        }
    }
</script>
