@mixin font-face($style-name, $file, $family:'fonts', $category:"") {
  $filepath: "/dist/fonts" + $file;
  @font-face {
    font-family: "#{$style-name}";
    src: url($filepath + ".ttf");
    src: url($filepath + ".woff2");
    src: url($filepath + ".svg");
    src: url($filepath + ".ttf");
    src: url($filepath + ".eot?#iefix") format('embedded-opentype'), url($filepath + ".woff2") format('woff'), url($filepath + ".ttf")  format('truetype'), url($filepath + ".svg#" + $style-name + "") format('svg');
  }
  %#{$style-name} {
    font: {
      @if $category != "" {
        family: "#{$style-name}", #{$category};
      }
      @else {
        family: "#{$style-name}";
        weight: normal;
      }
    }
  }
}