// Colors
$content-gray:#f5f5f5;
$primary: black;
$primary-light: black;
$accent: black;

$text-primary-light: #7d7d7d;
$text-primary: #1f1f1f;

$nav-height: 72px;
$container-padding: 45px;
$side-nav-width: 280px;

// Fonts
$nino-mtavruli: "nino-mtavruli", sans-serif;
$bgp-arial: "bgp-arial", sans-serif;