<template>
    <router-link tag="a" :to="{name: 'book', params: {id: resource.id}}" class="book-card btn">
        <div class="book-img cover-bg"
             :style="{ backgroundImage: 'url(' + resource.imageUrl + ')', backgroundColor: resource.category.color }"></div>
        <div class="book-title-and-author">
            <p v-if="resource.critical === true" class="book-title text-danger fs-16">Late</p>
            <p class="book-title text-primary fs-22">{{resource.name}}</p>
            <span @click.prevent="searchByAuthor()" class="book-author text-primary-light fs-16">By {{resource.author}}</span>
        </div>
        <div class="book-actions">
            <div class="black-overlay">

            </div>
            <div @click.prevent="addToFavorites()" class="favourite-book-container">
                <img v-if="!resource.clientFavorite" src="../../static/icons/star-white.svg">
                <img v-else src="../../static/icons/star-active.svg">
            </div>
            <div class="download-book-container">
                <img src="../../static/icons/download-white.svg">
            </div>

            <div v-if="resource.quantity < 1" class="unavailable-book-container">
                <img title="This book currently is't in library" src="../../static/icons/unavailable-white.svg">
            </div>
        </div>
    </router-link>
</template>

<script>

    import {mapGetters, mapActions} from 'vuex';

    export default {
        props: ['resource'],
        mounted() {
        },
        // computed: mapGetters({
        //     addResourceInFavorites: 'User/addResourceInFavorites',
        // }),
        methods: {
            ...mapActions({
                addResourceInFavorites: 'User/addResourceInFavorites',
                removeResourceInFavorites: 'User/removeResourceInFavorites',
                setFilterValue: 'Resources/setFilterValue',
            }),

            addToFavorites() {
                console.log('active? ',this.resource.id, this.resource, this.resource.clientFavorite);
                if (this.resource.clientFavorite === true) {
                    this.resource.clientFavorite = false;
                    this.removeResourceInFavorites(this.resource);
                } else {
                    this.resource.clientFavorite = true;
                    this.addResourceInFavorites(this.resource);
                }
            },

            searchByAuthor() {
                this.setFilterValue({name: 'author', value: this.resource.author});
                this.$router.push({name: 'search'})
            }
        }
    }
</script>