<template>
    <div class="books-slider books-grid-container">
        <book-preview v-for="resource in resources" :key="resource.id" :resource="resource"></book-preview>
    </div>
</template>

<script>
    import BookPreview from './BookPreview';

    export default {
        props: ['resources'],
        components: {
            BookPreview,
        }
    }
</script>