<template>
    <section class="my-withdrawn-books-section page-section">
        <div v-if="sectionTitle" class="page-section-header flex-justify">
            <h1 class="section-label text-primary-light f-nino-mtavruli">{{sectionTitle}}</h1>
            <p class="btn" v-if="seeMore" @click="seeMore.action()">See more</p>
        </div>
        <div class="my-withdrawn-books">
            <div v-if="!resources || !resources.length" class="fs-20 text-primary no-resources">No resources yet</div>

            <paging-resources v-if="paging"
                              :resources="resources"
                              :paging="paging"
                              @page-updated="pageUpdated"></paging-resources>
            <books-slider v-else :resources="resources"></books-slider>
        </div>
    </section>
</template>

<script>
    import PagingResources from "./PagingResources";
    import BooksSlider from "./BooksSlider";

    export default {
        name: "BooksSection",
        props: {
            'resources': {
                default: [],
                required: true
            },
            'sectionTitle': {
                default: null,
                required: false
            },
            'paging': {
                default: null,
                required: false
            },
            'seeMore': {
                default: null,
                required: false
            }
        },
        methods: {
            pageUpdated(offset) {
                this.$emit('page-updated', offset)
            }
        },
        components: {
            PagingResources,
            BooksSlider
        }
    }
</script>

<style scoped>

</style>