<template>
    <div class="paging-resources">
        <div class="books-grid-container">
            <template v-for="resource in resources">
                <book-preview :resource="resource"></book-preview>
            </template>
        </div>

        <pagination :pagination="pagination" :callback="pageChanged" :options="paginationOptions">
        </pagination>
    </div>
</template>

<script>
    import BookPreview from "./BookPreview";
    import pagination from 'vue-bootstrap-pagination';

    export default {
        name: "PagingResources",

        props: ['resources', 'paging'],

        data() {
            return {
                paginationOptions: {
                    offset: 2,
                    alwaysShowPrevNext: true
                }
            }
        },

        computed: {
            pagination() {
                return {
                    total: this.paging.count,
                    per_page: this.paging.limit,    // required
                    current_page: this.paging.page + 1, // required
                    last_page: Math.ceil(this.paging.count / this.paging.limit),    // required
                }
            }
        },

        methods: {
            pageChanged() {
                this.$emit('page-updated', (this.pagination.current_page - 1) * this.paging.limit);
            }
        },

        components: {BookPreview, pagination},
    }
</script>
