.book-info-container > p {
  margin-top: 0;
}

.book-info-container > h1 {
  margin-bottom: 0;
}

.book-cover {
  width: 250px;
  height: 350px;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.book-page-top {
  display: flex;
  align-items: flex-start;
}

.book-page-bottom {
  margin-top: 80px;
}

.book-cover-image {
  margin-right: 30px;
  position: relative;
}

.download-book {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.book-info > p {
  margin: 6px 0;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.book-notification > p {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 3px;
}