.page-section {
  margin-bottom: 50px;
}

.page-section-header {
  margin: 0 0 3rem;
  border-bottom: 1px solid #e1e1e1;

  .section-label {
    margin: 0;
  }
}

.books-grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 45px;
}

.book-card {
  padding: 68% 0;
  overflow: hidden;
  position: relative;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;

  &.book-card:after {
    width: 4px;
    content: '';
    display: block;
    height: 100%;
    background: #00000052;
    top: 0;
    left: 0;
    position: absolute;
  }
}

.book-img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.cover-bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.book-title-and-author {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 20px 15px;
  overflow: hidden;
  z-index: 10;
}

.book-title-and-author > span {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  max-width: 100%;
  white-space: normal;
}

.book-title {
  margin: 0 0 10px;
  font-weight: lighter;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.sign-in-container {
  height: 100%;
  width: 100%;
}

.sign-in-button {
  padding: 10px 30px;
  border-radius: 3px;
}

.free-agruni-logo {
  max-width: 200px;
  margin-bottom:  10px;
}

.sign-in-inner {
  padding: 40px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 100px;
}