.profile-left {
  width: 38%;
  border: 1px solid #e3e3e3;
  top: 120px;
}

.profile-right {
  width: 59%;
}

.profile-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: calc(100% - 180px);
  flex-wrap: wrap;
}

.profile-right.white-card > p {
  padding: 20px 35px;
}

.profile-right.white-card > h1 {
  padding: 15px 35px 0;
}

.profile-bottom {
  width: 100%;
  margin-top: 70px;
}

.user-info-top {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #e3e3e3;
}

.user-initials {
  height: 80px;
  width: 80px;
  border: 2px solid #e3e3e3;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  overflow: hidden;
}

.user-private-info > p {
  margin: 0;
}

.user-info-middle {
  padding: 40px 40px 20px;
  display: flex;
  flex-wrap: wrap;
}

.user-info-middle > h3 {
  width: 100%;
  margin-bottom: 20px;
}

.private-info-container > p {
  margin: 0;
  overflow: hidden;
  max-width: 95%;
  text-overflow: ellipsis;
}

.private-info-container {
  margin-bottom: 20px;
}

.user-info-bottom {
  padding: 40px;
  display: flex;
  justify-content: center;
}

.edit-personal-info {
  padding: 10px 35px;
  margin: 0 5px;
}

.edit-personal-info.password {
  border: 1px solid #0076ef;
}

.private-info-container.width-50 {
  margin-bottom: 40px;
  width: 48%;
}

.no-products-container > h1 {
  width: 100%;
  text-align: center;
  padding: 0 25%;
}

.no-products-in-cart > .small {
  width: 65%;
  margin-top: 10px;
}

.no-products-in-cart {
  width: 100%;
  text-align: center;
  margin: 40px 0;
}

.no-products-in-cart > .big {
  width: auto;
}

.return-to-main-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.return-to-main-page > p {
  margin: 0 10px;
}

.no-products-container {
  padding: 40px;
}

.ordered-products .product-description-amount {
  width: 100%;
  border: none;
}

.order-description-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.order-description-wrapper .product-description {
  width: 100%;
}

.order-description-wrapper .ordered-product-amount {
  width: 40%;
}

.order-description-wrapper .product-price-wrapper {
  width: 40%;
}

.ordered-product-amount > p {
  margin-bottom: 0;
}

.ordered-products .shopping-cart-item-wrapper {
  border: none;
}

.ordered-products {
  border: 1px solid #e3e3e3;
  margin-bottom: 20px;
}

.edit-private-info {
  /*border-bottom: 1px solid #e3e3e3;*/
  /*padding: 5px 0 3px 10px;*/
  /*margin-left: -10px;*/
}

.edit-private-info.name {
  width: 35%;
  margin-right: 10px;
  margin-left: 0;
}

.edit-private-info.surname {
  width: 55%;
  margin-left: 0;

}

.edit-private-info.address {
  width: 100%;
}

.user-private-info > p {
  width: 100%;
}

.user-private-info > .validate-field-container > input {
  /*padding: 0;*/
  margin: 0;
  border: none;
  border-bottom: 1px solid #e3e3e3;

}

.user-private-info {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 100px);
}

.private-info-container > .validate-field-container > input {
  margin: 0 0 0 -5px;
  border: none;
  border-bottom: 1px solid #e3e3e3;
  padding: 7px 5px;

}

.validate-field-container.edit-private-info {
  width: 95%;
}

.edit-private-info input.is-danger {
  border-color: #ff3131 !important;
}

.user-private-info .validate-field-container.edit-private-info {
  width: 48%;
}

.ordered-products .shopping-cart-item {
  border-bottom: 1px solid #e3e3e3;
}

.ordered-products .shopping-cart-item:last-child {
  border-bottom: none;
}

.change-password-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 23;
}

.popup-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, .5);
  z-index: 22;
  top: 0;
  left: 0;
}

.change-password-popup > .close-auth {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin-bottom: 20px;
  right: -40px;
  position: absolute;
  cursor: pointer;
  top: -10px;
  transform: translateY(-100%);
}

.change-password-popup > .close-auth > img {
  width: 10px;
}

.change-password-title {
  height: 95px;
  display: flex;
  align-items: center;
  margin-bottom: 23px;
  justify-content: center;
}

.change-password .register-popup-container {
  padding: 15px 70px 30px;
}

.change-password .validate-field-container {
  text-align: left;
}

.change-password .validate-field-container > span {
  position: absolute;
  bottom: 0;
  left: 10px;
  transform: translateY(-50%);
  padding: 0 10px;
}

.change-password {
  min-width: 632px;
}

.profile-page.alta-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ordered-products-title {
  display: flex;
  justify-content: space-between;
  padding: 30px 60px 0 40px;
}

.edit-personal-info > span {
  white-space: nowrap;
}

#productMain .slick-slide img {
  max-height: 400px;
  min-height: 350px;
  width: auto !important;
  margin: 0 auto;
}

.product-image-thumbs {
  margin-top: 30px;
}

.edit-profile-info {
  border: 1px solid #e3e3e3;
  padding: 10px 20px;
}

.private-info-container > .dropdown {
  margin-right: 20px;
}

.private-info-container .form-control {
  display: none !important;
}

.private-info-container .v-select .dropdown-toggle .clear {
  display: none;
}

.cards-container {
  padding: 0 35px 15px;
}

.card-wrapper > p {
  margin-right: 10px;
}

.card-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.not-active-button {
  border:  1px solid #e3e3e3;
  padding:  6px 15px;
  margin-left:  20px;
}

.active-button {
  padding:  6px 15px;
  background-color: #71ab71;
  border: 1px solid #71ab71;
  margin-left:  20px;
  color: white
}

.not-active-button:hover {
  background-color: #71ab71;
  border: 1px solid #71ab71;
  color:  white;
}

.active-button:hover{
  border:  1px solid #e3e3e3;
  color: black
}