.search-filters {
  padding: 15px 25px;
  margin-bottom: 30px;
}

.search-results {
  padding-bottom: 80px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.pagination {
  display:  flex;
  align-items:  center;
  justify-content:  center;
  padding:  20px;
  margin-top: 40px;
}

.pagination > li {
  padding:  5px 10px;
  border:  1px solid #cccc;
  margin-left:  -1px;
}

.pagination > li:first-child {
  border-radius:  3px 0 0 3px;
}

.pagination > li:last-child {
  border-radius: 0 3px 3px 0;
}

.pagination > li.active {
  background-color:  green;
}

.pagination > li.active > a {
  color:  white;
}

.pagination > li.disabled > span > span {
  color: #909090;
}

.pagination > li > a {
  color: #7d7d7d;
  padding: 5px 10px;
  height: 33px;
  display: block;
}

.pagination > li > span > span {
  color: #7d7d7d;
  padding: 5px 10px;
  height: 33px;
  display: block;
}