<template>
    <div class="search-filters white-card flex-wrap">
        <text-filter :name="'name'" :placeholder="'By name...'"
                     @updated="filterUpdated"></text-filter>
        <text-filter :name="'author'" :placeholder="'By author...'" :value="filters.author"
                     @updated="filterUpdated"></text-filter>
        <category-filter :options="categories" :name="'categoryIds'" @updated="filterUpdated" :placeholder="'By category'"></category-filter>
        <language-filter :options="languages" :name="'languageId'" @updated="filterUpdated" :placeholder="'By language'"></language-filter>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex'
    import TextFilter from "./filters/TextFilter";
    import CategoryFilter from "./filters/CategoryFilter";
    import LanguageFilter from "./filters/LanguageFilter";
    import Category from "../../pages/Category";

    export default {
        computed: mapGetters({
            filters: 'Resources/filters',
            languages: 'Resources/languages',
            categories: 'Categories/categories',
        }),
        mounted() {
            this.getLanguages();
        },
        methods: {
            ...mapActions({
                setFilterValue: 'Resources/setFilterValue',
                getLanguages: 'Resources/getLanguages',
            }),
            filterUpdated(value, filterName) {
                console.log(filterName, value);
                this.setFilterValue({name: filterName, value: value});
                this.$emit('filter-updated');
            }
        },
        components: {
            Category,
            CategoryFilter,
            LanguageFilter,
            TextFilter
        }
    }
</script>

