<template>
    <books-section :resources="resources"
                   :see-more="{action: seeMoreAction}"
                   section-title="Books with same author">
    </books-section>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex';
    import BooksSection from "../BooksSection";

    export default {
        name: "SameAuthorResources",
        props: ['author'],
        data() {
            return {
                resources: [],
            }
        },
        mounted() {
            let filters = {
                author: this.author,
                limit: 5,
                offset: 0
            };
            this.getResources(filters);
        },

        methods: {
            ...mapActions({
                getFilteredResources: 'Resources/getFilteredResources',
                setFilterValue: 'Resources/setFilterValue',
            }),

            getResources(filters) {
                this.getFilteredResources(filters).then(resources => {
                    this.resources = resources.resultList;
                });
            },

            seeMoreAction() {
                console.log('author', this.author);
                this.setFilterValue({name: 'author', value: this.author});
                this.$router.push({name: 'search'})
            }
        },

        components: {BooksSection}
    }
</script>

<style scoped>

</style>