<template>
    <books-section :resources="resources"
                   :see-more="{action: seeMoreAction}"
                   section-title="Books with same category">
    </books-section>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex';
    import BooksSection from "../BooksSection";

    export default {
        props: ['category'],
        data() {
            return {
                resources: [],
            }
        },
        mounted() {
            let filters = {
                categoryIds: [this.category.id],
                limit: 5,
                offset: 0
            };
            this.getResources(filters);
        },

        methods: {
            ...mapActions({
                getFilteredResources: 'Resources/getFilteredResources',
            }),

            getResources(filters) {
                this.getFilteredResources(filters).then(resources => {
                    this.resources = resources.resultList;
                });
            },

            seeMoreAction() {
                this.$router.push({
                    name: 'category',
                    params: {
                        'name': this.category.name, 'id': this.category.id
                    }
                });
            }
        },

        components: {BooksSection}
    }
</script>