<template>
    <li class="main-header-menu-item flex-center-vertically dropdown notifications-dropdown btn"
        :class="{'open': opened}">
        <img @click="openNotifications" src="../../../static/icons/notifications.svg">
        <span v-if="newNotificationCount !== 0" class="unread-notification-count">{{newNotificationCount}}</span>

        <div class="dropdown-menu bg-white">
            <ul class="dropdown-list">
                <li v-for="notification in notifications" class="dropdown-list-item"
                    :class="{'unread': !notification.read}" @click="notificationClicked(notification)">
                    <p class="text-primary-light fs-14">{{notification.message}}</p>
                </li>
                <li v-if="notifications.length === 0" class="dropdown-list-item">
                    <p class="text-primary-light fs-14">No new notifications</p>
                </li>
            </ul>
        </div>
    </li>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex'

    export default {
        name: "Notifications",
        data() {
            return {
                opened: false,
            }
        },
        mounted() {
            window.addEventListener('click', this.checkClick)
        },
        computed: mapGetters({
            notifications: 'Notifications/notifications',
            newNotificationCount: 'Notifications/newNotificationCount',
        }),
        methods: {
            ...mapActions({
                markAsRead: 'Notifications/markAsRead',
                markAsSeen: 'Notifications/markAsSeen',
            }),
            checkClick(event) {
                if (!event.target.closest('.notifications-dropdown'))
                    this.opened = false;
            },

            notificationClicked(notification) {
                this.markAsRead(notification.id);
                this.$router.push({name: 'book', params: {id: notification.resourceId}})
            },

            openNotifications() {
                this.opened = !this.opened;
                this.markAsSeen();
            }

        },
        destroyed() {
            window.removeEventListener("click", this.checkClick, true);
        }
    }
</script>

<style scoped>

</style>