<template>
    <div class="search-section flex-center-vertically">
        <div class="search-input">
            <input v-model.lazy="query"
                   :class="{active: query.length, 'active-dropdown': activeDropdown}"
                   @focus="focus = true" @keyup.enter="submit"
                   type="text" class="header-search-input lms-input fs-14 search" placeholder="" v-debounce="600"/>
            <img src="../../../static/icons/search-icon.svg">
            <div v-if="activeDropdown" class="search-dropdown">
                <ul class="search-dropdown-list">
                    <li v-for="resource in resources" @click="searchResultClicked(resource.id)"
                                 :alt="resource.name + ', ' + resource.author"
                                 class="search-dropdown-list-item book-search-preview flex-center-vertically btn">
                        <p class="text-primary-light">{{resource.name}}, {{resource.author}}</p>
                    </li>
                </ul>
            </div>
        </div>
        <!--<img  src="../../../static/icons/filters.svg"/>-->
        <router-link :to="{name: 'search'}">
            <svg title="გაფართოებული ძებნა" class="filters-icon btn" xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 100 125" style="enable-background:new 0 0 100 100;" xml:space="preserve">
            <g>
                <path d="M36,20.1c-4,0-7.4,2.7-8.5,6.4h-9.1C17,26.5,16,27.6,16,29s1.1,2.5,2.5,2.5h9.1c1,3.7,4.5,6.4,8.5,6.4
                c4.1,0,7.5-2.7,8.6-6.4l36.9,0c1.4,0,2.5-1.1,2.5-2.5s-1.1-2.5-2.5-2.5l-36.9,0C43.5,22.8,40.1,20.1,36,20.1z M36.1,25.1
                c2.1,0,3.9,1.7,3.9,3.9s-1.8,3.9-3.9,3.9s-3.9-1.7-3.9-3.9S34,25.1,36.1,25.1z"></path>
            </g>
            <g>
                <path d="M66.1,40.1c-4,0-7.4,2.7-8.5,6.4H18.5C17,46.5,16,47.6,16,49s1.1,2.5,2.5,2.5h39.1c1,3.7,4.5,6.4,8.5,6.4
                c4.1,0,7.5-2.7,8.6-6.4h6.9c1.4,0,2.5-1.1,2.5-2.5c0-1.4-1.1-2.5-2.5-2.5h-6.9C73.6,42.8,70.2,40.1,66.1,40.1z M66.2,45.1
                c2.1,0,3.9,1.7,3.9,3.9c0,2.2-1.8,3.9-3.9,3.9c-2.1,0-3.9-1.7-3.9-3.9S64,45.1,66.2,45.1z"></path>
            </g>
            <g>
                <path d="M48,62.1c-4,0-7.4,2.7-8.5,6.4H18.5C17,68.5,16,69.6,16,71s1.1,2.5,2.5,2.5h21.1c1,3.7,4.5,6.4,8.5,6.4
                c4.1,0,7.5-2.7,8.6-6.4h24.9c1.4,0,2.5-1.1,2.5-2.5s-1.1-2.5-2.5-2.5H56.6C55.5,64.8,52.1,62.1,48,62.1z M48.1,67.1
                c2.1,0,3.9,1.7,3.9,3.9c0,2.2-1.8,3.9-3.9,3.9s-3.9-1.7-3.9-3.9C44.3,68.8,46,67.1,48.1,67.1z"></path>
            </g>
        </svg>
        </router-link>
    </div>

</template>

<script>
    import debounce from 'v-debounce';
    import {mapActions, mapGetters} from 'vuex';

    export default {
        name: "SearchInput",
        data() {
            return {
                query: "",
                resources: [],
                focus: false
            }
        },
        mounted() {
            window.addEventListener('click', this.checkClick)
        },
        computed: {
            activeDropdown() {
                return this.resources.length && this.query.length && this.focus
            }
        },
        watch: {
            query(newValue) {
                this.setDetailedMessage(newValue);
                if (newValue.length > 2)
                    this.quickFindResources(newValue).then(resources => {
                        this.resources = resources;
                    })
            }
        },
        methods: {
            ...mapActions({
                quickFindResources: 'Resources/quickFindResources',
                setDetailedMessage: 'Resources/setDetailedMessage',
            }),

            checkClick(event) {
                if (!event.target.closest('.search-input'))
                    this.focus = false;
            },

            submit() {
                this.$router.push({name: 'search'});
            },

            searchResultClicked(id) {
                setTimeout(() => {
                    this.focus = false;
                }, 100);
                this.$router.push({
                    name: 'book',
                    params: { id: id },
                    path: `/book/${id}`
                });
            }
        },
        directives: {
            debounce
        },
        destroyed() {
            window.removeEventListener("click", this.checkClick, true);
        }
    }
</script>

<style scoped>

</style>