<template>
    <li class="main-header-menu-item flex-center-vertically dropdown user-dropdown btn" :class="{'open': opened}">
        <a @click="opened = !opened" class="text-primary">{{user.firstName}} {{user.lastName}}</a>

        <div class="dropdown-menu bg-white">
            <ul class="dropdown-list">
                <li @click="navigateTo({name: 'profile', params: {id: user.id}})" class="dropdown-list-item">
                    <span class="text-primary fs-14">Profile</span>
                </li>
                <li @click="logoutClicked" class="dropdown-list-item">
                    <span class="text-primary fs-14">Logout</span>
                </li>
            </ul>
        </div>
    </li>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex';


    export default {
        name: 'UserDropdown',
        data() {
            return {
                opened: false
            }
        },
        mounted() {
            window.addEventListener('click', this.checkClick)
        },
        computed: mapGetters({
            user: 'User/user',
        }),
        methods: {
            ...mapActions({
                logout: 'Auth/logout',
            }),
            checkClick(event) {
                if (!event.target.closest('.user-dropdown'))
                    this.opened = false;
            },

            navigateTo(param) {
                this.opened = false;
                this.$router.push(param);
            },

            logoutClicked() {
                this.logout().then(() => {
                    window.location.reload()
                })
            }

        },
        destroyed() {
            window.removeEventListener("click", this.checkClick, true);
        }
    }
</script>