@media (max-width: 1700px) {
  .books-grid-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .book-title {
    font-size: 20px;
  }
}

@media (max-width: 1590px) {
  .book-title {
    font-size: 18px;
  }

  .book-title-and-author > span {
    font-size: 14px;
  }
}

@media (max-width: 1500px) {
  .books-grid-container {
    grid-gap: 35px;
  }

  .main-header {
    height: 66px;
  }

  .side-nav {
    padding: 66px 45px;
  }

  .content {
    padding: 116px 280px 0 280px;
  }
}

@media (max-width: 1366px) {
  .books-grid-container {
    grid-gap: 32px;
  }

  .side-nav {
    padding: 66px 65px 0 45px;
  }

  .content {
    padding: 116px 280px 0 250px;
  }
}

@media (max-width: 1330px) {
  .books-grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px;
  }
}

@media (max-width: 1224px) {
  .main-header {
    padding: 0 30px;
  }

  .content {
    padding: 116px 30px 0 220px;
  }

  .page-section-header .section-label {
    font-size: 20px;
  }

  .books-grid-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .side-nav {
    padding: 66px 45px 0 30px;
    width: 220px;
  }

  .side-categories {
    display: none;
  }

  .side-nav-menu-item > a {
    font-size: 14px;
  }
}

@media (max-width: 1124px) {
  .book-title {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 0;
  }
}

@media (max-width: 950px) {

}

// MOBILE
@media (max-width: 750px) {

}