<template>

    <div class="delete-card-popup-container bg-white">
        <div class="popup-text">
            <p class="fs-14 text-primary">Are you sure you want to delete card?</p>
        </div>

        <div class="popup-buttons">
            <button class="">Yes</button>
            <button class="">No</button>
        </div>
    </div>

</template>

<script>

    import {mapGetters, mapActions} from 'vuex';

    export default {
        mounted() {
        },
        computed: mapGetters({
        }),
        methods: {
            ...mapActions({
            }),
        }
    }
</script>