<template>
    <div id="app">
        <!--<component v-if="layout" :is="layout"></component>-->
        <router-view></router-view>
    </div>
</template>

<script>
    import {mapActions} from 'vuex'

    export default {
        name: 'App',

        mounted() {
            if (localStorage.getItem('token'))
                this.login().then(user => {
                    this.setUserData(user);
                    this.getNotifications();
                }).catch(err => {
                    console.log(err)
                });
        },

        methods: mapActions({
            login: 'Auth/login',
            setUserData: 'User/setClient',
            getNotifications: 'Notifications/getNotifications',
        }),

        metaInfo: {
            title: 'Library',
        },
    }
</script>
